@use 'common/Colors';
@use 'common/Layout';
@use 'common/Font';
@use 'common/Transitions';

.AudioControl {
    @extend %component;
    @include Transitions.noneToInverseChild(Colors.$text, Colors.$base, Colors.$blue);
}

.Mixer {
    @extend %component;

    .Title {
        @extend %component;

        .Label, .PavucontrolButton {
            padding: 2px;
            font-weight: bold;
            font-size: Font.$font-size-large;
            color: Colors.$text;
        }

        .PavucontrolButton {
            transition: all 0.3s ease-in-out;
            border-radius: 0px 16px 16px 0px;
            &:hover {
                label { color: Colors.$blue; }
                background-color: Colors.$crust;
            }
        }
    }

    .MixerEntry {
        @extend %component;
        background-color: Colors.$base;

        .Icon {
            @extend %component-circle;
            @include Transitions.noneToInverseChild(Colors.$text, Colors.$base, Colors.$blue);
        }

        .Slider {
            @extend %component-slider;
            background-color: Colors.$surface2;

            & highlight {
                background-color: Colors.$blue;
            }

            & through {
                background-color: Colors.$subtext1;
            }
        }

        .PercentageLabel {
            font-weight: bold;
        }
    }
}
