@use 'common/Layout';
@use 'common/Colors';
@use 'common/Font';
@use 'common/Transitions';

.Cheatsheet {
    @extend %component;
    border: 2px solid Colors.$blue;
    background-color: rgba(Colors.$base, 0.8);

    .Title {
        font-weight: bolder;
        font-size: Font.$font-size-large * 4;
    }

    .Subtitle {
        font-weight: bold;
        font-size: Font.$font-size-large * 2;
    }

    .Section {
        @extend %component;
    }

    .Entry {
        @extend %component;
        .Bind, .Action {
            @extend %component;
        }

        .Bind {
            transition: all 0.2s ease;
            font-weight: bold;
            color: Colors.$blue;
            background-color: Colors.$surface0;
        }

        .Action {
            transition: all 0.2s ease;
            color: Colors.$surface0;
            background-color: Colors.$blue;
        }

        &:hover {
            .Bind {
                color: Colors.$surface0;
                background-color: Colors.$blue;
            }

            .Action {
                color: Colors.$blue;
                background-color: Colors.$surface0;
            }
        }
    }
}
