@use 'common/Colors';
@use 'common/Transitions';
@use 'common/Font';
@use 'common/Layout';

.ControlCenter {
    @extend %widget;
    .Label {
        font-size: Font.$font-size-large;
    }
    transition: all 0.3s ease;
    &:hover {
        background-color: Colors.$blue;
        .Label {
            color: Colors.$base;
        }
    }

    .ControlCenterPopover {
        margin: 4px;
        background-color: rgba(Colors.$surface0, 0.8);
        border-radius: 8px;
        .Subtitle {
            font-size: Font.$font-size-large;
            margin: 4px;
        }

        .Option {
            padding: 2px;
            margin: 2px;
            switch {
                padding: 2px;
                margin: 2px;
                background-color: Colors.$base;
                image, slider {
                    background-color: Colors.$blue;
                    min-width: 20px;
                    min-height: 5px;
                }
                transition: all 0.3s ease-in-out;
                &:hover {
                    background-color: Colors.$blue;
                    image, slider {
                        background-color: Colors.$base;
                    }
                }
            }
        }
    }
}
