@use 'common/Colors';
@use 'common/Transitions';
@use 'common/Font';
@use 'common/Layout';

.ControlCenter {
    @extend %widget;
    .Label {
        font-size: Font.$font-size-large;
    }
    transition: all 0.3s ease;
    &:hover {
        background-color: Colors.$blue;
        .Label {
            color: Colors.$base;
        }
    }

    .ControlCenterPopover {
        padding: 5px;
        background-color: rgba(Colors.$surface0, 0.8);

        .Subtitle {
            font-size: Font.$font-size-large;
            margin: 4px;
        }

        .ToggleVisibleComponents {
            margin: 4px;
            background-color: rgba(Colors.$surface1, 0.8);
            border-radius: 8px;

            .Option {
                padding: 2px;
                margin: 2px;
                border-radius: 10px;
            }

            .ToggleAnimations {
                @include Transitions.noneToInverseChild(Colors.$text, Colors.$base, Colors.$blue);
            }

            .ToggleCava {
                @include Transitions.noneToInverseChild(Colors.$text, Colors.$base, Colors.$lavender);
            }
        }
    }
}
