@use 'common/Colors';
@use 'common/Font';
@use 'common/Layout';
@use 'common/Transitions';

.Media {
    @extend %widget;
    label {
        font-weight: bold;
    }

    .Controllers {
        .Previous, .PlayPause, .Next {
            border-radius: 100%;
            padding: 1px;
            image {
                margin: 1px;
            }
            @include Transitions.inverseChild(Colors.$base, Colors.$blue);
        }
    }
}

.Cava, .Cava > *, .CavaOverlay, .CavaOverlay > * {
    margin: 0;
    padding: 0;
}

.Cava, .Cava > * {
    color: rgba(Colors.$blue, 0.5);
}

.CavaOverlay {
    border: none;
    border-radius:  40px 40px 0px 0px;
    @include Transitions.noneToInverse(rgba(Colors.$blue, 0.6), Colors.$base, rgba(Colors.$blue, 0.6));
}
