@use 'common/Colors';
@use 'common/Font';
@use 'common/Layout';
@use 'common/Transitions';

.Media {
    @extend %component;
    border-radius: 0px;
    label {
        font-weight: bold;
    }

    .Controllers {
        .Previous, .PlayPause, .Next {
            border-radius: 100%;
            padding: 1px;
            margin: 0px 1px;
            image {
                margin: 1px;
            }
            @include Transitions.inverseChild(Colors.$base, Colors.$blue);
        }
    }
}
