@use 'common/Colors';
@use 'common/Layout';
@use 'common/Transitions';
@use 'common/Font';

.SystemMonitor {
    @extend %component;
    .Icon {
        margin: 4px;
    }

    .Slider {
        @extend %component-slider;
        background-color: Colors.$surface2;
    }

    .PercentageLabel {
        font-weight: bold;
    }

    .Cpu, .Memory, .Battery {
        @extend %component;
        background-color: Colors.$base;
    }

    .Cpu {
        .Icon, .PercentageLabel {
            color: Colors.$teal;
        }

        .Slider {
            & highlight {
                background-color: Colors.$teal;
            }
        }
    }

    .Memory {
        .Icon, .PercentageLabel {
            color: Colors.$green;
        }

        .Slider {
            & highlight {
                background-color: Colors.$green;
            }
        }
    }

    .Battery {
        .Icon {
            margin: 0;
            padding: 0;
        }
        .Icon, .PercentageLabel {
            color: Colors.$lavender;
        }

        .Slider {
            & highlight {
                background-color: Colors.$lavender;
            }
        }
    }
}
