@use 'common/Palette';
@use 'common/Layout';
@use 'common/Transitions';
@use 'common/Font';

.SystemMonitor {
    @extend %component;
    .Icon {
        margin: 4px;
    }

    .Slider {
        @extend %component-slider;
        background-color: Palette.$surface_container;
    }

    .PercentageLabel {
        font-weight: bold;
    }

    .Cpu, .Memory, .Battery {
        @extend %component;
        background-color: Palette.$surface_container_high;
    }

    .Cpu {
        .Icon, .PercentageLabel {
            color: Palette.$primary;
        }

        .Slider {
            & highlight {
                background-color: Palette.$primary;
            }
        }
    }

    .Memory {
        .Icon, .PercentageLabel {
            color: Palette.$secondary;
        }

        .Slider {
            & highlight {
                background-color: Palette.$secondary;
            }
        }
    }

    .Battery {
        .Icon {
            margin: 0;
            padding: 0;
        }
        .Icon, .PercentageLabel {
            color: Palette.$tertiary;
        }

        .Slider {
            & highlight {
                background-color: Palette.$tertiary;
            }
        }
    }
}
