@use 'common/Colors';
@use 'common/Layout';
@use 'common/Font';
@use 'common/Transitions';

.DateTimeCalendar {
    @extend %widget;
    font-weight: bold;
    @include Transitions.noneToInverseChild(Colors.$text, Colors.$base, Colors.$blue);


    .Calendar {
        * { color: Colors.$text; }
        header {
            padding: 4px;
            border-radius: 6px;
            background-color: rgba(Colors.$surface0, 0.8);
        }

        button {
            margin: 2px;
            border-radius: 100%;
            @include Transitions.noneToInverseChild(Colors.$text, Colors.$base, Colors.$blue);
        }

        grid {
            padding: 6px;
            border-radius: 8px;
            margin: 4px;
            background-color: rgba(Colors.$surface1, 0.7);

            label.other-month {
                opacity: 0.5;
                @include Transitions.noneToInverse(Colors.$text, Colors.$base, Colors.$rosewater);
            }

            label.day-number {
                border-radius: 100%;
                margin: 1px;
                @include Transitions.noneToInverse(Colors.$text, Colors.$base, Colors.$mauve);
            }

            label.today {
                color: Colors.$base;
                background-color: Colors.$lavender;
            }
        }
    }
}
