@use 'common/Colors';
@use 'common/Transitions';
@use 'common/Font';
@use 'common/Layout';

.SelectorIndicator {
    margin: 4px;
    background-color: rgba(Colors.$surface1, 0.8);
    border-radius: 8px;
    .Option {
        padding: 2px;
        margin: 2px;
        switch {
            padding: 2px;
            margin: 2px;
            background-color: Colors.$base;
            image, slider {
                background-color: Colors.$blue;
                min-width: 20px;
                min-height: 5px;
            }
        }
    }
}
