@use 'common/Palette';
@use 'common/Transitions';
@use 'common/Font';
@use 'common/Layout';

.WallpaperSwitcher {
    background-color: rgba(Palette.$surface_container, 0.8);
    padding: 4px;
    border-radius: 12px 12px 0px 0px;

    label {
        font-size: Font.$font-size-large;
        margin: 2px;
    }

    switch {
        @extend %component;
        background-color: Palette.$inverse_on_surface;
        image, slider {
            @extend %component-switch;
            background-color: Palette.$surface_container_high;
        }
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: Palette.$primary;
            image, slider {
                background-color: Palette.$on_primary;
            }
        }
    }

    .Wallpaper {
        border: 2px solid Palette.$primary;
        border-radius: 16px;
    }

    .Active {
        border-color: Palette.$secondary;
    }
}
