@use 'common/Colors';
@use 'common/Layout';
@use 'common/Transitions';

.Workspaces {
    @extend %widget;
    background-color: rgba(Colors.$surface0, 0.8);
    border-radius: 18px;

    .Workspace, .MoreWorkspacesButton {
        @extend %component-circle;
        font-weight: bold;
        background-color: rgba(Colors.$crust, 0.8);
        border: none;
        margin: 2px;
        transition: all 0.2s ease;
    }

    .MoreWorkspacesButton {
        @include Transitions.noneToInverseChild(Colors.$text, Colors.$base, Colors.$blue);
    }

    .Active {
        background-color: rgba(Colors.$blue, 0.9);
        color: Colors.$crust;
    }

    .Inactive {
        transition: all 0.2s ease;

        &:hover {
            background-color: rgba(Colors.$blue, 0.6);
            color: Colors.$crust;
        }
    }

    .WorkspacePopover {
        border-radius: 16px;
        padding: 6px;
        background-color: rgba(Colors.$surface0, 0.9);
        margin: 2px;
    }
}
