@use 'common/Palette';
@use 'common/Layout';
@use 'common/Transitions';

.Workspaces {
    @extend %component-small;
    background-color: rgba(Palette.$surface_container, 0.8);

    .Workspace {
        @extend %component-small;
        font-weight: bold;
        @include Transitions.inverseChild(Palette.$on_primary, Palette.$primary);

        .WorkspaceIdButton {
            @extend %component-circle;
            padding: 0px 1px;
        }
    }

    .Clients {
        padding: 1px;
    }

    .WorkspaceClient {
        @extend %component-circle;
        transition: background-color 0.2s ease;
        &:hover {
            background-color: Palette.$surface_container_highest;
        }
    }

    .CFocused {
        background-color: Palette.$surface_container_highest;
    }

    .WFocused {
        background-color: rgba(Palette.$primary, 0.9);
        label { color: Palette.$on_primary; }
    }

    .MoreWorkspacesButton {
        @extend %component-circle;
        padding: 0px 1px;
        font-weight: bold;
        background-color: rgba(Palette.$on_primary, 0.8);
        @include Transitions.noneToInverseChild(Palette.$outline, Palette.$on_primary, Palette.$primary);
    }

    .WorkspacePopover {
        @extend %component-circle;
        background-color: rgba(Palette.$surface, 0.9);
    }
}
