@use 'common/Colors';
@use 'common/Layout';
@use 'common/Transitions';

.Workspaces {
    @extend %widget;
    background-color: rgba(Colors.$surface0, 0.8);
    border-radius: 24px;

    .Workspace {
        font-weight: bold;
        background-color: rgba(Colors.$crust, 0.8);
        margin: 1px 2px;
        border-radius: 18px;
        transition: all 0.2s ease;

        &:hover {
            background-color: rgba(Colors.$blue, 0.9);
            label { color: Colors.$crust; }
        }

        .WorkspaceIdButton {
            padding: 1px;
        }
    }

    .Clients {
        padding: 1px;
    }

    .WorkspaceClient {
        @extend %component-circle;
        transition: background-color 0.2s ease;
        &:hover {
            background-color: Colors.$mantle;
        }
    }

    .CFocused {
        background-color: Colors.$mantle;
    }

    .WFocused {
        background-color: rgba(Colors.$blue, 0.9);
        label { color: Colors.$crust; }
    }

    .MoreWorkspacesButton {
        @extend %component-circle;
        font-weight: bold;
        background-color: rgba(Colors.$crust, 0.8);
        margin: 1px;
        @include Transitions.noneToInverseChild(Colors.$text, Colors.$base, Colors.$blue);
    }

    .WorkspacePopover {
        border-radius: 16px;
        padding: 6px;
        background-color: rgba(Colors.$surface0, 0.9);
        margin: 2px;
    }
}
