src/.config/Kvantum/matugen/matugen.kvconfig
src/.config/Kvantum/matugen/matugen.svg
src/.config/btop/themes/matugen.theme
src/.config/cava/shaders/bar_spectrum.frag
src/.config/cava/shaders/eye_of_phi.frag
src/.config/cava/shaders/northern_lights.frag
src/.config/cava/shaders/pass_through.vert
src/.config/cava/shaders/spectrogram.frag
src/.config/cava/shaders/winamp_line_style_spectrum.frag
src/.config/cava/themes/matugen
src/.config/cava/themes/solarized_dark
src/.config/cava/themes/tricolor
src/.config/gtk-3.0/bookmarks
src/.config/gtk-4.0/assets
src/.config/kitty/colors.conf
src/.config/nvim/colors/matugen.vim
src/.config/qt6ct/colors/matugen.conf
src/.config/zed/themes/matugen.json
src/.config/zed/themes/matugen.json
