@mixin inverse($color, $color-inverse) {
    background: $color-inverse;
    color: $color;
    transition: all 0.3s ease;
    &:hover {
        background: $color;
        color: $color-inverse;
    }
}

@mixin inverseChild($color, $color-inverse) {
    transition: all 0.3s ease;
    background: $color;
    * {
        color: $color-inverse;
    }
    &:hover {
        background: $color-inverse;
        * {
            color: $color;
        }
    }
}

@mixin noneToInverse($color, $color-inverse, $color-background) {
    background: none;
    color: $color;
    transition: all 0.3s ease;
    &:hover {
        background: $color-background;
        color: $color-inverse;
    }
}

@mixin noneToInverseChild($color, $color-inverse, $color-background) {
    transition: all 0.3s ease;
    background: none;
    * {
        color: $color;
    }
    &:hover {
        background: $color-background;
        * {
            color: $color-inverse;
        }
    }
}
