// Matugen generated colors
// Layout configuration
layout {
    tab-indicator {
        active-color "#99ccfa"
        inactive-color "#d2bfe7"
    }
    insert-hint {
        gradient from="#094b7280" to="#99ccfa80" angle=45 relative-to="workspace-view"
    }
    border {
        active-gradient from="#99ccfa" to="#b8c8da" angle=45 relative-to="workspace-view"
        inactive-gradient from="#42474e" to="#8c9198" angle=45 relative-to="workspace-view"
        urgent-gradient from="#ffb4ab" to="#93000a" angle=45 relative-to="workspace-view"
    }
    shadow {
        color "#000000"
    }
}
// "Pin" picture-in-picture windows and apply another border colors to distinguish them better
window-rule {
    match title="^Picture-in-Picture$"
    default-floating-position x=32 y=32 relative-to="bottom-right"
    opacity 1.0
    border {
        active-gradient from="#d2bfe7" to="#4f4061" angle=45
        inactive-gradient from="#d2bfe7" to="#4f4061" angle=45
    }
}

recent-windows {
    // Round the corners on the highlight.
    highlight {
        corner-radius 14
	padding 2
	active-color "#99ccfa" 
	urgent-color "#d2bfe7"
    }
}
