// Environment variables
environment {
    QT_QPA_PLATFORM "wayland"
    QT_QPA_PLATFORMTHEME "qt6ct"
    QT_STYLE_OVERRIDE "kvantum"
    SECRET_SERVICE_BUS_NAME "org.freedesktop.secrets"
    XDG_CURRENT_DESKTOP "Niri"
    XDG_SESSION_TYPE "wayland"
    XDG_SESSION_DESKTOP "Niri"
    MOZ_ENABLE_WAYLAND "1"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
}

cursor {
    xcursor-theme "Bibata-Modern-Classic"
    xcursor-size 24
}
