// Niri configuration. Intended to be a mirror from Hyprland

include "_environment.kdl"
include "_input.kdl"
include "_outputs.kdl"
include "_binds.kdl"
include "_misc.kdl"
include "_layout.kdl"
include "_switch_events.kdl"
include "_window_rules.kdl"
include "_layer_rules.kdl"
include "_autostart.kdl"
