// Matugen generated colors
// Layout configuration
layout {
    tab-indicator {
        active-color "#ffb2ba"
        inactive-color "#e9bf8f"
    }
    insert-hint {
        gradient from="#72333c80" to="#ffb2ba80" angle=45 relative-to="workspace-view"
    }
    border {
        active-gradient from="#ffb2ba" to="#e5bdc0" angle=45 relative-to="workspace-view"
        inactive-gradient from="#524344" to="#9f8c8d" angle=45 relative-to="workspace-view"
        urgent-gradient from="#ffb4ab" to="#93000a" angle=45 relative-to="workspace-view"
    }
    shadow {
        color "#000000"
    }
}
// "Pin" picture-in-picture windows and apply another border colors to distinguish them better
window-rule {
    match title="^Picture-in-Picture$"
    default-floating-position x=32 y=32 relative-to="bottom-right"
    opacity 1.0
    border {
        active-gradient from="#e9bf8f" to="#5e411b" angle=45
        inactive-gradient from="#e9bf8f" to="#5e411b" angle=45
    }
}
