// Matugen generated colors
// Layout configuration
layout {
    tab-indicator {
        active-color "#8fcff3"
        inactive-color "#c9c1ea"
    }
    insert-hint {
        gradient from="#004c6880" to="#8fcff380" angle=45 relative-to="workspace-view"
    }
    border {
        active-gradient from="#8fcff3" to="#b5c9d7" angle=45 relative-to="workspace-view"
        inactive-gradient from="#41484d" to="#8a9297" angle=45 relative-to="workspace-view"
        urgent-gradient from="#ffb4ab" to="#93000a" angle=45 relative-to="workspace-view"
    }
    shadow {
        color "#000000"
    }
}
// "Pin" picture-in-picture windows and apply another border colors to distinguish them better
window-rule {
    match title="^Picture-in-Picture$"
    default-floating-position x=32 y=32 relative-to="bottom-right"
    opacity 1.0
    border {
        active-gradient from="#c9c1ea" to="#484264" angle=45
        inactive-gradient from="#c9c1ea" to="#484264" angle=45
    }
}
