$circle-diameter: 24px;
$slider-width: 160px;
$slider-height: 20px;

%widget {
    background: none;
    padding: 4px;
    margin: 2px;
    border: none;
    border-radius: 18px;

    * {
        margin: 0px 2px;
    }
}

%component-circle {
    border-radius: 100%;
    min-width: $circle-diameter;
    min-height: $circle-diameter;
}

%component-slider {
    border-radius: 20px;
    min-width: $slider-width;
    min-height: $slider-height;
}

%title {

}

%subtitle {

}

%option {

}
