$circle-diameter: 24px;
$slider-width: 160px;
$slider-height: 20px;

%component {
    padding: 2px;
    margin: 2px;
    border-radius: 1em;
}

%component-small {
    padding: 1px;
    margin: 1px;
    border-radius: 1em;
}

%component-circle {
    border-radius: 100%;
    min-width: $circle-diameter;
    min-height: $circle-diameter;
}

%component-switch {
    padding: 1px;
    image, slider {
        padding: 1px;
    }
}

%component-slider {
    border-radius: 1em;
    padding: 0.1em 0.2em;
    min-width: $slider-width;
    min-height: $slider-height;
}

%slider-interactive {
    & highlight {
        border-radius: 1em 0em 0em 1em;
    }
    slider {
       margin: -0.2em;
   }
}
