// Matugen generated colors
// Layout configuration
layout {
    tab-indicator {
        active-color "#c1cd7d"
        inactive-color "#a2d0c3"
    }
    insert-hint {
        gradient from="#424b0780" to="#c1cd7d80" angle=45 relative-to="workspace-view"
    }
    border {
        active-gradient from="#c1cd7d" to="#c6c9a7" angle=45 relative-to="workspace-view"
        inactive-gradient from="#47483b" to="#919283" angle=45 relative-to="workspace-view"
        urgent-gradient from="#ffb4ab" to="#93000a" angle=45 relative-to="workspace-view"
    }
    shadow {
        color "#000000"
    }
}
// "Pin" picture-in-picture windows and apply another border colors to distinguish them better
window-rule {
    match title="^Picture-in-Picture$"
    default-floating-position x=32 y=32 relative-to="bottom-right"
    opacity 1.0
    border {
        active-gradient from="#a2d0c3" to="#224e44" angle=45
        inactive-gradient from="#a2d0c3" to="#224e44" angle=45
    }
}

recent-windows {
    // Round the corners on the highlight.
    highlight {
        corner-radius 14
        padding 2
        active-color "#c1cd7d" 
        urgent-color "#a2d0c3"
    }
}
