// Matugen generated colors
// Layout configuration
layout {
    tab-indicator {
        active-color "#a5c8fe"
        inactive-color "#d9bde3"
    }
    insert-hint {
        gradient from="#21487680" to="#a5c8fe80" angle=45 relative-to="workspace-view"
    }
    border {
        active-gradient from="#a5c8fe" to="#bcc7dc" angle=45 relative-to="workspace-view"
        inactive-gradient from="#43474e" to="#8d9199" angle=45 relative-to="workspace-view"
        urgent-gradient from="#ffb4ab" to="#93000a" angle=45 relative-to="workspace-view"
    }
    shadow {
        color "#000000"
    }
}
// "Pin" picture-in-picture windows and apply another border colors to distinguish them better
window-rule {
    match title="^Picture-in-Picture$"
    default-floating-position x=32 y=32 relative-to="bottom-right"
    opacity 1.0
    border {
        active-gradient from="#d9bde3" to="#543f5e" angle=45
        inactive-gradient from="#d9bde3" to="#543f5e" angle=45
    }
}

recent-windows {
    // Round the corners on the highlight.
    highlight {
        corner-radius 14
        padding 2
        active-color "#a5c8fe" 
        urgent-color "#d9bde3"
    }
}
