// Input
input {
    focus-follows-mouse
    keyboard {
        xkb {
            layout "br, us"
            variant "abnt2, intl"
        }
        numlock
    }

    touchpad {
        tap
	    dwt
	    dwtp
    }

    mouse {

    }

    trackpoint {
        off
    }
}
