// Layer rules

// Put swww and Cava to backdrop
layer-rule {
    match namespace="^awww-daemon$"

    place-within-backdrop true
}

layer-rule {
    match namespace="^rofi$"
    match namespace="^backgroundPlayer$"
    match namespace="^bar$"
    geometry-corner-radius 26

    background-effect {
        xray true
        blur true
        noise 0.05
        saturation 3
    }
}

layer-rule {
    match namespace="^rofi$"
    opacity 0.9
}
