@use 'common/Palette';
@use 'common/Layout';
@use 'common/Font';

.SystemTray {
    margin-left: 2px;
}

.TrayItem {
    @extend %component-circle;
    margin: 0px 2px 0px 2px;
    -gtk-icon-size: Font.$icon-size;
    transition: all 0.25s ease;

    &:hover {
        background-color: rgba(Palette.$primary, 0.8);
        color: Palette.$on_primary_fixed;
    }

    &:active {
        background-color: rgba(Palette.$primary, 0.6);
        color: Palette.$on_primary_fixed;
    }

    popover.menu {
        margin: 10px;
        background-color: Palette.$surface_container;
        border-radius: 10px;
    }

    popover.menu modelbutton {
        padding: 2px;
        border-radius: 4px;
        margin: 0 2px;
    }

    popover.menu modelbutton:hover {
        background: rgba(Palette.$surface_container_high, 0.2);
    }

    popover.menu modelbutton:active {
        background: rgba(Palette.$surface_container_highest, 0.4);
    }
}
