@use 'common/Palette';
@use 'common/Font';
@use 'Time';
@use 'SystemMonitor';
@use 'AudioControl';
@use 'Workspaces';
@use 'SystemTray';
@use 'Media';
@use 'Tooltip';
@use 'ControlMenu';
@use 'Cava';
@use 'WallpaperSwitcher';

/* Resetting every decoration applied earlier */
* {
    font-family: Font.$font-family;
    font-size: Font.$font-size-normal;
    -gtk-icon-size: Font.$icon-size;

    color: Palette.$on_background;
    background: none;

    border: none;
    box-shadow: none;
    outline: none;

    margin: 0;
    padding: 0;
}

.Bar {
    background: rgba(Palette.$background, 0.8);
    margin: 1px 2px;
    border-radius: 28px;
}
