@use 'common/Colors';
@use 'common/Layout';
@use 'common/Transitions';

.AudioControl {
    @extend %widget;
    @include Transitions.noneToInverseChild(Colors.$text, Colors.$base, Colors.$blue);
}

.Mixer {
    padding: 6px;
    border-radius: 16px;
    background-color: rgba(Colors.$surface0, 0.8);
    border: none;

    .Label {
        font-weight: bold;
        font-size: 24px;
        margin: 6px;
        color: Colors.$text;
    }

    .MixerEntry {
        background-color: Colors.$surface1;
        padding: 2px;
        margin: 2px;
        border: none;
        border-radius: 16px;

        .Icon {
            @extend %component-circle;
            @include Transitions.noneToInverse(Colors.$text, Colors.$base, Colors.$blue);
        }

        .Slider {
            @extend %component-slider;
            background-color: Colors.$surface2;

            & highlight {
                background-color: Colors.$blue;
            }
        }
    }
}
