@use 'common/Colors';
@use 'common/Layout';

.Clients {
    @extend %widget;
    background-color: rgba(Colors.$crust, 0.8);
    transition: all 0.25s ease;

    &:hover {
        background-color: rgba(Colors.$blue, 0.8);
        .Client {
            color: Colors.$crust;
        }
    }

    .ClientsPopover {
        background-color: rgba(Colors.$surface0, 0.8);
        border-radius: 16px;
        padding: 6px;

        .ClientEntry {
            background-color: rgba(Colors.$surface1, 0.8);
            border-radius: 16px;
            padding: 4px;
            margin: 2px;
            transition: all 0.25s ease;

            &:hover {
                background-color: rgba(Colors.$blue, 0.8);
                color: Colors.$surface1;
            }
        }
    }
}
