@use 'common/Colors';
@use 'common/Font';
@use 'common/Layout';
@use 'common/Transitions';

.Cava, .Cava > *, .CavaOverlay, .CavaOverlay > * {
    margin: 0;
    padding: 0;
}

.Cava, .Cava > * {
    color: rgba(Colors.$blue, 0.5);
}

.CavaOverlay {
    border: none;
    border-radius:  40px 40px 0px 0px;
    @include Transitions.noneToInverse(rgba(Colors.$blue, 0.6), Colors.$base, Colors.$blue);
}

.Media {
    @extend %widget;
    margin: 2px;
    border-radius: 20px;
    @include Transitions.noneToInverseChild(Colors.$text, Colors.$crust, Colors.$blue);

    .MprisPopover {
        background-color: rgba(Colors.$mantle, 0.8);
        .MprisPlayer {
            padding: 16px;
            .Metadata {
                margin-left: 12px;
                .Title {
                    font-size: Font.$font-size-large;
                    color: Colors.$text;
                }

                .Artist {
                    font-size: Font.$font-size-normal;
                    color: rgba(Colors.$text, 0.7);
                }

                .Album {
                    font-size: Font.$font-size-small;
                    color: rgba(Colors.$text, 0.5);
                    font-style: italic;
                }
            }
            .LowerPart {
                margin-top: 12px;
                padding: 12px;

                .PlayerSlider {
                    padding: 4px;
                    background-color: rgba(Colors.$base, 0.6);
                    border: none;
                    border-radius: 14px;

                    margin: 5px;
                    .Slider {
                        min-width: 160px;
                        & highlight {
                            background: Colors.$sapphire;
                        }
                    }

                    .TimeLabel {
                        color: Colors.$text;
                        margin-left: 10px;
                        font-size: Font.$font-size-small;
                        opacity: 0.8;
                        min-width: 40px;
                    }
                }

                .Controllers {
                    .Previous, .PlayPause, .Next {
                        margin: 4px;
                        border: none;
                        border-radius: 8px;
                        image {
                            margin: 12px;
                        }
                        @include Transitions.inverseChild(Colors.$base, Colors.$blue);
                    }
                }
            }
        }
        .Cava, .Cava > * {
            color: rgba(Colors.$blue, 0.5);
        }
    }
}
