@use 'common/Colors';
@use 'common/Layout';
@use 'common/Font';

.DateTime {
    margin: 5px;
    border: none;
    border-radius: 10px;
    background-color: rgba(Colors.$crust, 0.6);
    .Time {
        font-size: Font.$font-size-large * 6;
        font-weight: bold;
        padding: 10px;
    }
    .Date {
        font-size: Font.$font-size-normal * 2;
        padding: 5px;
    }
}

.Time {
    @extend %widget;
    font-weight: bold;
}
