@use 'common/Colors';
@use 'common/Font';
@use 'Time';
@use 'MemoryUsage';
@use 'Battery';
@use 'CpuUsage';
@use 'AudioControl';
@use 'Clients';
@use 'Workspaces';
@use 'TrayItem';
@use 'Media';
@use 'Tooltip';
@use 'ControlCenter';
@use 'Bluetooth';

/* Resetting every decoration applied earlier */
* {
    font-family: Font.$font-family;
    font-size: Font.$font-size-normal;
    -gtk-icon-size: Font.$icon-size;

    color: Colors.$text;
    background: none;

    border: none;
    box-shadow: none;
    outline: none;

    margin: 0;
    padding: 0;
}

.Bar {
    background: Colors.$base;
    border-radius: 28px;
    margin: 4px 6px;
}
